<h2 id="tableLabel">List of Directors</h2>

<p *ngIf="!directors.length"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="directors.length">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Age</th>
      <!-- <th>Nationality</th> -->
      <th>Movies List</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let Director of directors">
      <td>{{ Director.directorId }}</td>
      <td>{{ Director.name }}</td>
      <td>{{ Director.age }}</td>
      <!-- <td>{{ Director.nationality }}</td> -->
      <td>{{ Director.movieslist }}</td>
    </tr>
  </tbody>
</table>
